{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <!---------Card----------------------->
    <div class="container">
        <h1>Items available</h1>
        <div class="cards">
        {% for d in donate1 %}

            <div class="card text-black  mb-3" style="max-width:18rem;">
                <div class="card-header">
                    <img style="height: 200px; width: 100%; display: block;" src="{{d.img.url}}"
                        alt="Card image">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{d.product}}</h4>
                    <p class="card-text">Donor Name:{{d.username}}</p>
                    <p>Quantity:{{d.quantity}}</p>
                    <p class="card-text">Contact:{{d.mobilenumber}}</p>
                    <p class="card-text">Quality:{{d.quality}}</p>
                </div>
                <a href="{% url 'requests' %}" class="btn btn-primary sm">Accept</a>
            </div>
            {% endfor %}
        </div>
        </div>
    <!--------------form-------------->
    <div class="row" style="padding-top:1%">
        <div class="container bg-light">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h5>What do you need?</h5>
                    <form class="was-validated" action="requests" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="uname">Username:</label>
                            <input readonly type="text" class="form-control" id="uname" placeholder="Enter username" name="username"
                                value="{{user.username}}" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <label for="item">Item Required:</label>
                            <input type="text" class="form-control" id="pwd" placeholder="Enter Item" name="item"
                                required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <label for="qty">quantity</label>
                            <input type="number" class="form-control" id="qty" placeholder="Enter quantity"
                                name="quantity" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group">
                            <label for="add">Delivery address:</label>
                            <input type="text" class="form-control" id="pwd" placeholder="Enter address" name="address"
                                required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>


                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" required> I agree on
                                above details
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Check this checkbox to continue.</div>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>

</body>
<style>
    .container {
        padding-top: 1%;
        margin: auto;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
</style>
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+91 7989598084" ,// WhatsApp number
            call_to_action: "Message Seller", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

</html>